h2{
    color: blue;
}
h1{
    color: red;
} 

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px
  }
  
 p img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px
  } 
  h4{
    color: aqua;
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
  }
  #pic{
    width: 250px;
    border-radius: 10px;
  }
